/* .title {
  padding-left: 40%;
} */
body {
  background-color: #000;
  margin: 0;
}
h1 {
  color: white;
  background-color: steelblue;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
}
.container {
  margin: 20px auto;
  max-width: 600px;
}
.box {
  width: 30%;
  background-color: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 20%;
  transition: background 0.6s;
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
}
.selected {
  color: white;
  background: steelblue;
}
button {
  border: none;
  background: none;
  height: 100%;
  font-weight: 800;
  color: steelblue;
  letter-spacing: 1px;
  transition: all 0.3s;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  outline: none;
}
button:hover {
  color: white;
  background-color: steelblue;
}
.btn_list {
  background-color: #fff;
  height: 30px;
  text-align: center;
  color: black;
}
.message {
  display: inline-block;
  width: 20%;
}
/* .field {
  width: 500px;
  height: 500px;
}
.box {
  width: 25%;
  padding-bottom: 25%;
  position: relative;
  overflow: hidden;
  float: left;
  width: 33.3%;
  padding-bottom: 33.3%;
}
.innerBox {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
}
.btn_list {
  background-color: #fff;
}

.colorBox {
  background-color: #000;
  height: 100%;
  border-radius: 20%;
} */
